<!DOCTYPE html>

<html lang="en">

    <!-- Lets get some angular in here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <!-- HTML HEAD -->
    <head>
        <link rel="stylesheet" type="text/css" href="canvas.css">
        <meta charset="UTF-8">
        <title>Pinboard</title>
    </head>

    <!-- HTML BODY -->
    <!-- Declare body as pinboard ng-app -->
    <body ng-app="pinboard">
        <canvas id="canvas" width="100%" height="100%"></canvas>
        <script src="canvas.js"></script>
    </body>

</html>