* { margin:0; padding:0; }

  .side-pane-c {
    
    position:absolute;
    height:100%;
    width:15%;
    top: 0;
    left: 0;
    display:block!important;

  }

  .side-pane {
    
    position:absolute;
    width: 15%;
    height:100%;
    top: 0;
    left:0;
    background:#406E8E;

    border-style: round;
    border-radius: 20px;

    display:block!important;

  }

  .side-pane-arrow {
    background:#CBF7ED;
    position:absolute;
    width: 20px;
    height: 100%;
    right:0;
    border-right-style: round;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display:block!important;
  }

  #slide{
    position:absolute;
    width:15%;
    height:100%;
    top: 0;
    background:#406E8E;
  }

  .side-pane.ng-hide-add,
  .side-pane.ng-hide-remove {
    display:block!important;
  }

  .side-pane.ng-hide {
    width:20px;
    background:none;
    display:block!important;
  }

