html, body {
    margin: 0;
    height: 100%;
    background: #A08D8D;
}

.button{
    width:50%;
    height:10%;
    margin-top: 10%;
    background: white;
    border-style: round;
    border-radius: 10px;
    color: black;
    display: block;
    overflow: hidden;
  }

  .resizer{

    position: relative;
    /* background-size:50%; */
    width:5%;
    height:20px;
    background: coral;
    /* bottom: -100%; */
    top:80%;
    float:right;
    bottom:10px;
    /* right:50px; */
    display: block;
    overflow: hidden;
  }

  .highlight {
    background-color:#ee3;
  }

/* @-webkit-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
} */

@-webkit-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Webkit */

.download {
  -moz-transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out; 
  -moz-animation:blink normal 1.5s infinite ease-in-out; /*firefox*/
  -webkit-animation:blink normal 1.5s infinite ease-in-out; /* Webkit */
  -ms-animation:blink normal 1.5s infinite ease-in-out; /* IE */
  animation:blink normal 1.5s infinite ease-in-out; /* Opera */
}

